<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <div class="pad">
        <div class="info-box action-box">
            <div class="info-top">
                <div class="info-left">
                    <span class="large-info">
                        {{ title }}
                    </span>
                    <br>
                    <span class="small-info">
                        {{ content }}
                    </span>
                </div>
                <div class="info-right">
                    <div class="action-icon"><i class="fa {{ icon }}"></i></div>
                </div>
            </div>
            <div class="info-bottom">
                <div class="action">{{ action }}</div>
                <i class="fa {{ actionIcon }}"></i>
            </div>
        </div>
    </div>
</div>