<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="pad">
        <div class="info-box">
            <table>
                {{#each items}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
</div>